/* Simplified Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: #f3f7e1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body > header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.logo > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

nav {
  display: flex;
  gap: 20px;
  margin: 10px 20px;
  align-items: center;
}

nav > a {
  padding: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  gap: 50px;
  margin-bottom: 50px;
}

.bg-container {
  display: flex;
  align-items: flex-start;
  height: 600px;
  background-image: url("/assets/RI_Landship_2_waifu2x_art_noise3_scale.webp");
  background-size: cover;
  background-position: top;
}

.bg-container > span {
  font-size: 25px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

#Profile,
#Facilities,
#Message {
  border: 1px solid black;
  background-color: #fafcf3;
  border-radius: 10px;
  padding: 10px;
}

.text-profile,
.text-facilities {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
.desc-profile {
  padding: 10px;
  font-size: 20px;
}

.img-facilities {
  display: flex;
  justify-content: space-around;
}

.img-facilities-card {
  gap: 10px;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* #Message {
  height: 100vh;
} */

.text-message {
  padding: 10px;
  font-size: 25px;
}

.text-message-cardbox {
  display: flex;
  gap: 180px;
}

form,
.result-message {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.text-message-card {
  display: flex;
  gap: 5px;
}

.text-message-card > label {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.text-message-card > input,
textarea,
.gender-wrapper {
  flex: 2;
  padding: 5px;
}

.gender-wrapper > label {
  margin-right: 10px;
}

label > .submit {
  padding: 10px;
  font-size: 14px;
  width: -webkit-fill-available;
}

.result-message-card {
  display: flex;
  justify-content: space-between;
}

.result-message-card > .label {
  flex: 1;
}
.result-message-card > .value {
  flex: 3;
}

.result-message-card:first-of-type {
  justify-content: flex-end;
}

footer {
  background-color: #fff;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 50px;
}
